/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {}

/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .top-contant {
        text-align: center;
    }
    .top-contant p {
        font-size: 12px;
    }
    .social {
        text-align: center;
    }
    .nav.justify-content-end.maon-menu-cart {
        margin-right: 76px;
        margin-top: 30px;
    }

    .single-carousel h2 {
        font-size: 25px;
    }
    .single-carousel p {
        font-size: 14px;
    }
    .welcome-carousels .owl-dots div {
        display: none;
    }
    .single-winter {
        height: 100%;
        text-align: center;
    }
    .add-area {
        margin-top: 30px;
    }

    .news-single-title {
        margin-left: 17px;
    }
    .news-single-title span {
        margin-left: 5px;
    }
    .news-single-title h5 {
        font-size: 15px;
        margin-bottom: 42px;
        margin-right: 10px;
    }
    .subscrib-forn {
        margin-right: 10px;
    }
    .copy-right {
        text-align: center;
    }

}
