/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #34404B;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 75px;
}

.section-title span {
    color: #ED3424;
}

.section-title h3 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #16619F;
}

.padding-none {
    padding: 0;
}

.paddingRnone {
    padding-right: 0;
}

/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

.carousel-bg-1 {
    background: url(../img/slide01.jpg);
}

.carousel-bg-2 {
    background: url(../img/slide02.jpg);
}

.carousel-bg-3 {
    background: url(../img/slide03.jpg);
}

.carousel-content {
    background-size: cover;
    background-position: center;
}




/*
=========----------------------------------=========
            3.Template Position Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/

.pulse {
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 rgba(237, 52, 36, 0.8);
    box-shadow: 0 0 0 rgba(237, 52, 36, 0.8);
    -webkit-animation: none;
    animation: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #ED3424;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
    animation: pulse 1s infinite;

}

.feature-content:hover .pulse {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    border: 1px solid #ED3424;
}

a.pulse:hover {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    border: 1px solid #ED3424;
}



@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(237, 52, 36, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(237, 52, 36, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(237, 52, 36, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(237, 52, 36, 0.4);
        box-shadow: 0 0 0 0 rgba(237, 52, 36, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(237, 52, 36, 0);
        box-shadow: 0 0 0 10px rgba(237, 52, 36, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(237, 52, 36, 0);
        box-shadow: 0 0 0 0 rgba(237, 52, 36, 0);
    }
}


/***/

.pulse-button {

    position: relative;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}


/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

.top-menu {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #EDEFF1;
    background: #1662A0;
}

.top-menu-content {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.top-contant p {
    display: inline-block;
    margin: 0;
    color: #fff;
    margin-right: 20px;
}

.top-contant i.icofont {
    color: #fff;
    margin-right: 10px;
}

.social a {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.social a:last-child {
    margin-right: 0;
}

.social a:hover {
    color: #ED3424;
}

.main-menu {
    padding: 35px 0;
}

.main-menu .navbar {
    padding: 0;
}

.logo img {
    margin-right: 80px;
}

.main-menu .navbar-light .navbar-nav .nav-link {
    color: #1662A0;
    padding: 0 20px;
}

.main-menu .navbar-light .navbar-nav .nav-link:focus,
.main-menu .navbar-light .navbar-nav .nav-link:hover {
    color: #ED3424;
}



.main-menu .nav-link {
    color: #34404B;
}

.main-menu .navbar-light .navbar-nav .nav-link.active {
    color: #ED3424;
}

.maon-menu-cart span {
    display: block;
    color: #fff;
    background: #34404B;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: -20px;
}

.main-menu-area {
    box-shadow: 0 0 5px #ddd;
    position: relative;
    z-index: 9999;
}

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

.carousel-content {
    position: relative;
    z-index: 999;
}

.carousel-content:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    opacity: .7;
    z-index: -1;
}

.single-carousel h2 {
    font-size: 30px;
    font-weight: 900;
    color: #ED3424;
    text-transform: uppercase;
}

.single-carousel p {
    margin: 0;
}

.carousel-content {
    width: 100%;
    height: 650px;
}

.single-carousel {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.single-carousel span {
    display: block;
    color: #34404B;
}

.slide-price a {
    display: inline-block;
    color: #ED3424;
    text-decoration: none;
}


.welcome-carousels .owl-dots div {
    border-left: 13px solid #fff;
    padding: 16px 15px;
    margin: 10px 0;
}

.welcome-carousels .owl-dots div.active {
    border-color: #ED3424;
    color: #ED3424;
    padding: 38px 15px;
}

.welcome-carousels .owl-dots {
    position: absolute;
    left: 25px;
    top: 30%;
}

/*
=========----------------------------------=========
            10.Feature Area Css     
=========----------------------------------=========
*/

.feature-content i.icofont {
    font-size: 37px;
    display: block;
    position: relative;
    z-index: 999;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.feature-content h4 {
    margin: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.feature-content p {
    color: #666;
}

.feature-content {
    margin: 15px 0;
}


.feature-content:hover h4 {
    color: #ED3424;
}

/*
=========----------------------------------=========
            11.About Area Css     
=========----------------------------------=========
*/

#about {
    background: #F4F6F8;
}

.about-logo {
    box-shadow: 0 0 5px #666;
    padding: 150px 20px;
}

.single-about-content {
    margin-top: 60px;
}

.single-about-content h5 {
    color: #1661A1;
}

/*
=========----------------------------------=========
            12.Our Speaker Area Css     
=========----------------------------------=========
*/

#speaker {
    background: url(../img/speaker-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#speaker {
    position: relative;
    z-index: 999;
}


#speaker::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: .8;
}

.single-speaker-pic {
    height: 450px;
    overflow: hidden;
}

.single-speaker-txt {
    background: #fff;
    text-align: center;
    transition: .3s;
    height: 65px;
}

.single-speaker-txt h4 {
    margin: 0;
}



.single-speaker-info:hover .single-speaker-txt {
    background: #ED3424;
    color: #fff;
}

.single-speaker-txt h4 {
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}

.single-speaker-txt span {
    font-size: 75%;
    display: block;
}

.single-speaker-pic.middle-speaker {
    height: 185px;
}

.single-speaker-info {
    margin: 15px 0;
}

/*
=========----------------------------------=========
            13.Our Session Area Css     
=========----------------------------------=========
*/

#session {
    background: #F4F6F8;
}

.session-menu .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    width: 100%;
    height: 140px;
    text-align: center;
    font-size: 35px;
    background: #ED3424;
    border-radius: 0;
}

.session-menu .nav-link {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 35px;
    height: 140px;
    background: #34404B;
    border-radius: 0;
    color: #fff;
    border-bottom: 1px solid #999;
    border-right: 1px solid #ddd;
}

.sec-txt-hight {
    font-size: 20px;
    line-height: 140px;
}

.session-user img {
    margin-left: 7px;
}

.session-time p {
    margin: 0;
    color: #ED3424;
    opacity: .9;
}

.session-single-content h6 {
    font-size: 18px;
    margin: ;
    margin-bottom: 8px;
}

.session-menu span {
    display: block;
    margin-top: 10px;
    font-size: 50%;
}

.session-single-content p {
    margin: 0;
}

p.session-host {
    margin-top: 5px;
    color: #ED3424;
    opacity: .9;
}

.single-session {
    width: 100%;
    height: 140px;
}

.single-session-comn {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.session-partition {
    border-left: 2px dashed #333;
    border-right: 2px dashed #333;
}

.sessioner-details-content {
    background: #F4F4F4;
}

.bg-dark .session-single-content {
    color: #fff;
}

.bg-dark .session-partition {
    border-color: #fff;
}

/*
=========----------------------------------=========
            14.News Latter Area Css     
=========----------------------------------=========
*/

#newslatter {
    background: url(../img/slider01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

;
) .news-single-title h5 {
    font-size: 18px;
    color: #ED3424;
}

.news-single-title span {
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;
    color: #34404B;
    font-style: italic;
}

.subscrib-forn .input-group-text {
    background: transparent;
    border: 0;
}

.subscrib-forn .input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border: 0;
}

.subscrib-forn .input-group > .input-group-append > .btn {
    border-radius: 0;
    background: #ED3424;
    color: #fff;
    border-color: #ED3424;
}

.subscrib-forn .input-group {
    border: 1px solid #ED3424;
}

.subscrib-forn .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .0);
}

.news-single-title {
    margin-top: 11px;
    margin-bottom: -10px;
    margin-left: 55px;
}

.news-single-title h5 {
    color: #ED3424;
}

.news-latter-content {
    background: transparent;
    padding: 40px 0;
}

.news-latter-content span {
    background: transparent;
    border: 0;
}

.subscrib-forn {
    margin-right: 40px;
}

#newslatter {
    padding: 120px 0;
}

/*
=========----------------------------------=========
            15.Blog Area Css     
=========----------------------------------=========
*/

.single-blog {
    margin: 15px 0;
}

.single-blog .card-header {
    padding: 0;
}

.single-blog .card-header img {
    height: 230px;
    width: 100%;
}

.bl-author-part {
    width: 50%;
    float: left;
}

.bl-author-part p {
    font-size: 12px;
    margin-bottom: 13px;
}

.bl-author-part i.icofont {
    margin-right: 10px;
}

.single-blog-content h4 {
    font-size: 18px;
    height: 80px;
}

.single-blog-content p {
    font-size: 16px;
}

a.read-more {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ED3424;
    padding: 5px 15px;
    color: #ED3424;
    transition: .3s;
    font-weight: bold;
    font-size: 12px;
}

a.read-more:hover {
    background: #ED3424;
    color: #fff;
}

.single-blog .card-header {
    position: relative;
    z-index: 999;
    transition: .3s;
}

.single-blog .card-header:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ED3424;
    content: "";
    opacity: 0;
    transition: .3s;
}

.single-blog:hover.single-blog .card-header::after {
    opacity: .2;
}

.single-blog:hover h4 {
    color: #ED3424;
}

.single-blog:hover .card {
    box-shadow: 0 0 5px #666;
}

/*
=========----------------------------------=========
            16.Footer Area Css     
=========----------------------------------=========
*/

ul.footer-menu {
    list-style: inherit;
}

.footer-menu li a {
    color: #28313B;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}

.footer-menu li a:hover {
    color: #ED3424;
}

.footer-logo p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.footer-logo,
.footer-menu {
    margin-top: 30px;
}

.footer-pay {
    margin-top: 35px;
}

.footer-pay h5 {
    font-size: 15px;
    color: #ED3424;
    margin-bottom: 12px;
}

.copy-right {
    margin-top: 60px;
    background: #fafafa;
}

.copy-context img {
    width: 100px;
}

.copy-context p {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #ED3424;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-cube-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Single Blog PAGE CSS                      |
 -------------------=======================----------------
*/

#single-blog .card {
    border: 0;
}

#single-blog .single-blog:hover .card {
    box-shadow: none;
}

#single-blog .card-body {
    padding: 0;
}

#single-blog .bl-author-part {
    margin-top: 10px;
}

.widget-search .subscrib-forn {
    margin-right: 0;
}

.widget {
    background: #F4F6F8;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 30px;
}

.tags li a {
    transition: .3s;
    color: #333;
    text-decoration: none;
}

.tags li a:hover {
    color: #ED3424;
}
